@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:wght@300;400;500;600&family=Mulish:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Noto+Serif&family=Roboto:ital,wght@0,300;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:wght@300;400;500;600&family=Mulish:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Noto+Serif&family=Roboto:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body {
  text-align: left;
  color: #868686;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chakra-slider {
  .chakra-slider__filled-track {
    background-color: black;
  }
  .chakra-slider__thumb {
    background-color: black;
  }
}




/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
